

.main{
    display: flex;
    width: 100%;
    height: 100%;
}

.maincontent{
    padding-left: 20px;
    width: calc(100vw - 270px);
    left: 270px;
    position: absolute;
    height: 100vh;
}

.active{
    width: calc(100vw - 80px);
    left: 80px;
    padding-left: 10px;
}

@media screen  and (max-width: 920px){

    .maincontent{
        /* padding: 10px; */
        width: calc(100vw - 60px);
        left: 60px;
        position: absolute;
        height: 100vh;
    }

    .active{
        /* padding: 10px; */
        width: calc(100vw - 80px);
        left: 80px;

    }
    
}